/* Common */

body {
    text-align: center;
    padding-bottom: 1em;
}

a {
    color: #4D648D;
}

h3 {
    padding-bottom: 0.5em;
    letter-spacing: .1em;
    color: #283655;
    font-size: 26px;
    font-weight: bold;
}

#navbar_title {
    padding: 0.2em;
    margin-right: 1em;
    font-size: 26px;
    letter-spacing: .1em;
}

#navbar_title a {
    color: #283655;
    text-decoration: none;
}

.btn-primary {
    background-color: #4D648D;
    border-color: #4D648D;
    color: #fff;
    letter-spacing: .1em;
    padding: 0.3em;
    padding-right: 1em;
    padding-left: 1em;
    box-shadow: none !important;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: #283655 !important;
    border-color: #283655 !important;
    box-shadow: none !important;
}

.btn-primary:focus,
.btn-outline-primary:focus {
    background-color: #283655 !important;
    border-color: #283655 !important;
    color: #fff;
    box-shadow: none !important;
}

.btn-outline-primary {
    border-color: #4D648D;
    color: #4D648D;
    letter-spacing: .1em;
    padding: 0.3em;
    padding-right: 1em;
    padding-left: 1em;
}

thead {
    /* Bootstrap's "bg-light" value, to match the header */
    background-color: #f8f9fa !important;
}


/* https://stackoverflow.com/questions/19592968/bootstrap-3-breakpoints-and-media-queries */

@media screen and (max-width: 992px) {
    .card {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0em !important;
        padding-right: 0em !important;
        width: 100%;
    }
    .card-column {
        padding-right: 0.7em;
        padding-left: 0.7em;
    }
    .memo {
        max-width: 120px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width: 992px) {
    .card {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1em !important;
        padding-right: 1em !important;
        width: 70%;
    }
    .card-column {
        padding-right: 3em;
        padding-left: 3em;
    }
    .memo {
        word-wrap: break-word;
        word-break: break-word;
    }
}

.form-control:focus {
    color: #1E1F26;
    background-color: #fff;
    border-color: #D0E1F9;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #D0E1F9;
}

#login-card {
    padding-top: 2em;
    border-right: 0.5px solid lightgrey;
}

#or {
    padding: 0.5em;
    padding-bottom: 1.5em;
}