{% extends "layout.html" %}
{% block title %}
  Company Details
{% endblock %}
{% block main %}
  {% if company %}
    <h3 class="text-break">History with
      {{ company.company_name}}</h3>
    <!-- Display memo? Edit memo? -->
    {% if history %}

      <div class="container mt-3 table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="col-3">Project</th>
              <th class="col-3">Role</th>
              <th class="col-2">Final Stage</th>
              <th class="col-1">Date</th>
              <th class="col-2">Application Memo</th>
            </tr>
          </thead>
          <tbody>
            {% for row in history %}
              <tr>
                <td scope="row" id="long-content">
                  <a href="/dashboard_{{ row.project_id}}">
                    {% if row.project_name == "" %}
                      n/a
                    {% else %}
                      {{ row.project_name }}
                      {% endif%}</a>
                  </td>
                  <td id="long-content">
                    <a href="/application_details_{{ row.id }}">{{ row.role }}</a>
                  </td>
                  <td id="long-content">{{ row.stage }}</td>
                  <td>
                    {% if row.date == "" %}
                      n/a
                    {% else %}
                      {{ row.date }}
                    {% endif %}
                  </td>
                  <td>
                    <div id="memo">
                      {% if row.application_memo == "" %}
                        n/a
                      {% else %}
                        {{ row.application_memo }}
                      {% endif %}
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% endif %}
  {% endblock %}
