{% extends "layout.html" %}
{% block title %}
  Dashboard
{% endblock %}
{% block main %}
  <div class="container">
    {% if project %}
      <h3 class="text-break">Dashboard for project:
        {{ project.name }}</h3>
      <div class="form-group">
        <form action="/new_application_{{ project.id }}" method="get">
          <button class="btn btn-primary btn-sm" type="submit">
            New Application</button>
        </form>
      </div>

      {% if applications %}
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="col-1">Rank</th>
                <th class="col-3">Company Name</th>
                <th class="col-3">Role</th>
                <th class="col-2">Stage</th>
                <th class="col-1">Date</th>
                <th class="col-3">Memo</th>
              </tr>
            </thead>
            <tbody>
              {% for row in applications %}
                <tr>
                  <td scope="row">{{ row.rank }}</td>
                  <td id="long-content">
                    <a href="/company_{{ row.company_id}}">
                      {{ row.company_name }}</a>
                  </td>
                  <td id="long-content">
                    <a href="/application_details_{{ row.id }}">
                      {{ row.role }}</a>
                  </td>
                  <td id="long-content">{{ row.stage }}</td>
                  <td>
                    {% if row.date == "" %}
                      n/a
                    {% else %}
                      {{ row.date }}
                    {% endif %}
                  </td>
                  <td>
                    <div id="memo">
                      {% if row.application_memo == "" %}
                        n/a
                      {% else %}
                        {{ row.application_memo }}
                      {% endif %}
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}