{% extends "layout.html" %}
{% block title %}
  Edit Interview Stage
{% endblock %}
{% block main %}
  {% if stage %}
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Edit Interview Stage</h3>
        <div class="card-text card-container">
          <form action="/edit_stage_{{ stage.id }}" method="post" id="edit-stage-form" class="needs-validation">
            <div class="form-group row text-justify">
              <label for="default-status" class="col-sm-3 col-form-label">Stage:</label>
              <div class="col">
                <select class="form-control mb-2" id="default-status" name="default-status">
                  <option disabled="disabled" selected="selected" value="">Default list</option>
                  {% for status in status_list %}
                    <option>{{ status }}</option>
                  {% endfor %}
                </select>
                <input class="form-control" id="custom-status" name="custom-status" type="text" maxlength="50" aria-describedby="status-caption" placeholder="Custom status" value="{{ stage.type }}">
                <small class="form-text text-muted" id="status-caption">Choose in the default list or set a custom status.</small>
              </div>
            </div>

            <div class="form-group row text-justify">
              <label class="col-sm-3 col-form-label">Date & Time:</label>
              <div class="col-sm-4">
                <input class="form-control mb-2 stage-date" name="stage-date" type="date" value="{{ simplify_date(stage.date) }}">
              </div>
              <div class="col-sm-4">
                <input class="form-control stage-time" name="stage-time" type="text" maxlength="5" placeholder="HH:MM" value="{{ stage.date | slice_time }}">
                <div class="invalid-feedback">Please use the format HH:MM.
                </div>
              </div>
            </div>

            <div class="form-group row text-justify">
              <label for="stage-memo" class="col-sm-3 col-form-label">Memo:
              </label>
              <div class="col">
                <textarea class="form-control" id="stage-memo" name="stage-memo" aria-describedby="stage-memo-caption" rows="3" maxlength="300">{{ stage.stage_memo }}</textarea>
                <small class="form-text text-muted" id="stage-memo-caption">Example: interviewer names, things that you need to prepare, etc.</small>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">Confirm Changes</button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block javascript %}
  <script src="static/script.js"></script>
{% endblock %}