{% extends "layout.html" %}
{% block title %}
  New Application
{% endblock %}
{% block main %}
  {% if project_id %}
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Add An Application</h3>
        <div class="card-text card-container">
          <form action="/new_application_{{ project_id }}" id="new-application-form" method="post" class="needs-validation">
            <div class="form-row">
              <div class="form-group col-md-6 text-justify">
                <label for="company-name">Company name:</label>
                <datalist id="company-suggestion"></datalist>
                <input class="form-control" id="company-name" name="company-name" type="text" list="company-suggestion" minlength="1" maxlength="50" required="required">
              </div>
              <div class="form-group col-md-6 text-justify">
                <label for="input-role">Role:</label>
                <input class="form-control" id="input-role" name="role" type="text" minlength="1" maxlength="50" required="required">
              </div>
            </div>
            <div class="form-row align-items-end">
              <div class="form-group col-md-5 text-justify">
                <label for="default-status">Application status:</label>
                <select class="form-control" id="default-status" name="default-status">
                  <option disabled="disabled" selected="selected" value="">Choose in the list</option>
                  {% for stage in stages %}
                    <option>{{ stage }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-1 pb-2">
                <span>or</span></div>
              <div class="form-group col-md-6">
                <input class="form-control" id="custom-status" name="custom-status" type="text" maxlength="50" placeholder="Use a custom status">
              </div>
            </div>

            <div class="form-row justify-content-between pt-2">
              <div class="form-group col-5 align-items-end">
                <div class="form-group text-justify">
                  <label for="status-date">Date & Time:</label>
                  <input class="form-control stage-date" id="status-date" name="status-date" type="date">
                </div>
                <div class="form-group text-justify">
                  <input class="form-control stage-time" id="status-time" name="status-time" type="text" maxlength="5" placeholder="HH:MM">
                  <div class="invalid-feedback">Please use the format HH:MM.
                  </div>
                </div>
              </div>
              <div class="form-group col-4 text-justify">
                <label for="application-rank">Rank:</label>
                <input class="form-control" id="application-rank" name="application-rank" type="number" aria-describedby="application-rank-caption" maxlength="3" min="1" max="100" step="1" required="required">
                <small class="form-text text-muted" id="application-rank-caption">How you rank this application in your top. Can be the same as another application.</small>
              </div>
            </div>

            <div class="form-group text-justify">
              <label for="application-memo">Memo:</label>
              <textarea class="form-control" id="application-memo" name="application-memo" rows="3" maxlength="300" aria-describedby="application-memo-caption" placeholder="Example: ex-colleague working there, nice salary, applied through recruiter, need to prepare for tech test..."></textarea>
              <small class="form-text text-muted" id="application-memo-caption">Anything you want to remember about this application on the projects list.</small>
            </div>

            <button class="btn btn-primary" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
    var project_id = "{{ project_id }}"
  </script>
  <script type="text/javascript" src="static/script.js"></script>
{% endblock %}