{% extends "layout.html" %} {% block title %} Dashboard {% endblock %} {% block main %}
<div class="container">
    {% if project %}
    <h3>Dashboard for: {{ project.name }}</h3>
    <div class="form-group">
        <form action="/{{ project.id }}/new_application" method="get">
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>

    {% if applications %}
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr>
                <th class="col-1">Rank</th>
                <th class="col-3">Company Name</th>
                <th class="col-3">Role</th>
                <th class="col-2">Stage</th>
                <th class="col-1">Date</th>
                <th class="col-2">Memo</th>
            </tr>
        </thead>
        <tbody>
            {% for row in applications %}
            <tr>
                <td class="col-1">{{ row.rank }}</td>
                <td class="col-3">{{ row.company_name }}</td>
                <td class="col-3">{{ row.role }}</td>
                <td class="col-2">{{ row.stage }}</td>
                <td class="col-1">{{ row.date }}</td>
                <td class="col-2">{% if row.application_memo == "" %}n/a{% else %}{{ row.application_memo }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %} {% endif %}
</div>
{% endblock %}