{% extends "layout.html" %}
{% block title %}
  New Project
{% endblock %}
{% block main %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Create A New Project</h3>
      <div class="card-text card-container">
        <form action="/new_project" id="new-project-form" method="post">
          <div class="form-group row">
            <label for="project-name">Project name:</label>
            <input class="form-control" id="project-name" name="project-name" type="text" maxlength="50" aria-describedby="project-name-caption" placeholder="Example: 2021 job change, sophomore internship, job hunting abroad...">
            <small class="form-text text-muted" id="project-name-caption">A name to help you remember when the job hunting happened or what it was about.</small>
          </div>

          <div class="form-group row">
            <label for="project-memo">Memo:</label>
            <textarea class="form-control" id="project-memo" name="project-memo" rows="3" maxlength="300" aria-describedby="project-memo-caption" placeholder="Example: received 3 offers, had to put on hold, nice experience with several companies..."></textarea>
            <small class="form-text text-muted" id="project-memo-caption">Anything you want to see about this job hunting on the projects list.</small>
          </div>

          <button class="btn btn-primary" id="submit-button" type="submit">Add New Project</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script src="static/script_project.js"></script>
{% endblock %}