{% extends "layout.html" %}
{% block title %}
  Add Interview Stage
{% endblock %}
{% block main %}
  {% if application_id %}
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Add An Interview Stage</h3>
        <div class="card-text card-container">
          <form action="/new_stage_{{ application_id }}" method="post" id="new-stage-form" class="needs-validation">
            <div class="form-group row text-justify">
              <label for="default-status" class="col-sm-3 col-form-label">Stage:</label>
              <div class="col">
                <select class="form-control mb-2" id="default-status" name="default-status">
                  <option disabled="disabled" selected="selected" value="">Default list</option>
                  {% for stage in stages %}
                    <option>{{ stage }}</option>
                  {% endfor %}
                </select>
                <input class="form-control" id="custom-status" name="custom-status" type="text" maxlength="50" aria-describedby="status-caption" placeholder="Custom status">
                <small class="form-text text-muted" id="status-caption">Choose in the default list or set a custom status.</small>
              </div>
            </div>

            <div class="form-group row text-justify">
              <label class="col-sm-3 col-form-label">Date & Time:</label>
              <div for="stage-date" class="col-sm-4 mb-2">
                <input class="form-control stage-date" id="stage-date" name="stage-date" type="date">
              </div>
              <div class="col-sm-4">
                <input class="form-control stage-time" id="stage-time" name="stage-time" type="text" maxlength="5" placeholder="HH:MM">
                <div class="invalid-feedback">Please use the format HH:MM.</div>
              </div>
            </div>

            <div class="form-group row text-justify">
              <label for="stage-memo" class="col-sm-3 col-form-label">Memo:
              </label>
              <div class="col">
                <textarea class="form-control" id="stage-memo" name="stage-memo" aria-describedby="stage-memo-caption" rows="3" maxlength="300"></textarea>
                <small class="form-text text-muted" id="stage-memo-caption">Example: interviewer names, things that you need to prepare, etc.</small>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
{% block javascript %}
  <script src="static/script.js"></script>
{% endblock %}